import(interactiveDisplayBase)
import(AnnotationDbi)
#import(AnnotationHub)
#import(gridSVG)
#importFrom(httr, content, GET)
#importFrom(grid, grid.newpage, upViewport)
#importFrom(GenomicRanges, seqnames,rowData,mcols,'seqlevels<-')

import(methods)
import(BiocGenerics)
importFrom(ggplot2,ggplot,aes,geom_tile,coord_fixed,scale_fill_gradientn,
           scale_x_discrete,scale_y_discrete,coord_equal,theme_bw,theme,
           element_blank,element_text,xlab,ylab,ggtitle)

#import(GenomicRanges)
importFrom(gridSVG, grid.export)
importFrom(reshape2,melt)
import(shiny)

#import(ggbio)
import(Category)
#import(GOstats)
#import(shinyIncubator)

importFrom(plyr,ldply)
importFrom(grid, convertUnit)
importFrom(RColorBrewer,brewer.pal)
#import(GO.db)
#importFrom(Gviz,ranges,IdeogramTrack,GenomeAxisTrack,AnnotationTrack,plotTracks)
#importFrom(rtracklayer, ucscGenomes)
importFrom(XML,saveXML)

export(display)
exportMethods(display)
exportMethods(gridsvgjs)
exportMethods(gridtweak)
exportMethods(bicgo)
exportMethods(simplenet)
exportMethods(altgr)

